<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Enter Input Values</h1>
    <form action="/predict" method="post">
      <label>CRIM:</label>
      <input type="text" name="CRIM"><br>

      <label>ZN:</label>
      <input type="text" name="ZN"><br>

      <label>INDUS:</label>
      <input type="text" name="INDUS"><br>

      <label>CHAS:</label>
      <input type="text" name="CHAS"><br>

      <label>NOX:</label>
      <input type="text" name="NOX"><br>

      <label>RM:</label>
      <input type="text" name="RM"><br>

      <label>AGE:</label>
      <input type="text" name="AGE"><br>

      <label>DIS:</label>
      <input type="text" name="DIS"><br>

      <label>RAD:</label>
      <input type="text" name="RAD"><br>

      <label>TAX:</label>
      <input type="text" name="TAX"><br>

      <label>PTRATIO:</label>
      <input type="text" name="PTRATIO"><br>

      <label>B:</label>
      <input type="text" name="B"><br>

      <label>LSTAT:</label>
      <input type="text" name="LSTAT"><br>

      <input type="submit" value="Predict">
    </form>
  </body>
</html>